<% include partials/_header %>
<!--Cambiado a los atributos de asignatura-->
<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/tasks/edit/<%= task._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre" value="<%= task.nombre %>">
            </div>
            <div class="form-group">
              <label for="planEstudios">Plan de Estudios:</label>
              <input class="form-control" name="planEstudios" id="planEstudios" placeholder="Plan de Estudios" value="<%= task.planEstudios %>" required></input>
            </div>
            <div class="form-group">
              <label for="cuatrimestre">Cuatrimestre:</label>
              <input class="form-control" type="text" name="cuatrimestre" id="cuatrimestre" placeholder="Cuatrimestre" value="<%= task.cuatrimestre %>" required>
            </div>
            <div class="form-group">
              <label for="curso">Curso:</label>
              <input class="form-control" type="text" name="curso" id="curso" placeholder="Curso" value="<%= task.curso %>" required>
            </div>
            <button class="btn btn-primary" type="submit">
              Update 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer%>
