<!--VISTA OBSOLETA-->
<!--Vista adaptadaa de tasks.ejs, permite click en los url, agregar y borrar softwares, no se asocian de ninguna manera de momento-->
<% include partials/_header %>
<!--MODIFICADO EL ASPECTO PARA QUE SE MUESTRE ALINEADO A LA IZQUIERDA-->
<div class="container">
  <div class="row mt-4">
    <!-- FORMULARIO PARA AGREGAR SOFTWARE (A LA IZQUIERDA) -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/softwares/add" method="post">
            <div class="form-group">
              <h5>Nuevo Software</h5>
              <br>
              <label for="url">URL:</label>
              <input class="form-control" type="text" name="url" id="url" placeholder="URL" required>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripci처n:</label>
              <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripci처n" style="height: 100px;" maxlength="150" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- LISTA DE SOFTWARE (A LA DERECHA) -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N째</th>
            <th>URL</th>
            <th>Descripci처n</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < softwares.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td>
                <strong>
                  <!-- Enlace corregido para que redirija fuera del localhost -->
                  <a target="_blank" href="<%= "http://" + softwares[i].url %>"><%= softwares[i].url.slice(0, 20) %><% if (softwares[i].url.length > 20) { %>...<% } %></a>
                </strong>
              </td>
              <td><%= softwares[i].descripcion %></td>
              <td>
                <a href="/softwares/delete/<%= softwares[i]._id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>