<% include partials/_header %>
<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5>Asignatura:</h5>
          <!-- Información de la tarea -->
          <p><strong>Nombre:</strong> <%= task.nombre %></p>
          <p><strong>Plan de Estudios:</strong> <%= task.planEstudios %></p>
          <p><strong>Cuatrimestre:</strong> <%= task.cuatrimestre %></p>
          <p><strong>Curso:</strong> <%= task.curso %></p>
          <!-- Botones adicionales -->
          <hr />
          <div class="form-group">
            <button class="btn btn-info" type="button">Editar Asignatura</button>
            <button class="btn btn-danger" type="button">Eliminar Asignatura</button>
          </div>
          <!-- Información del software asociado -->
          <hr />
          <h5>Software Relacionado:</h5>
          <div class="form-group">
            <% if (software) { %>
            <div>
              <p>
                <strong>Nombre del software:</strong> <%= software.nombre %>
              </p>
              <!-- Nombre del software -->
              <p><strong>URL del software:</strong> <%= software.url %></p>
              <!-- URL del software -->
              <p>
                <strong>Descripción del software:</strong> <%= software.descripcion %>
              </p>
              <!-- Descripción del software -->
            </div>
            <% } else { %>
            <p>No se encontró software asociado a esta tarea.</p>
            <% } %>
          </div>
          <!-- Botones adicionales -->
          <hr />
          <div class="form-group">
            <button class="btn btn-info" type="button">Editar Software</button>
            <button class="btn btn-danger" type="button">Eliminar Software</button>
          </div>
          <!-- Lista de usuarios -->
          <hr />
          <h5>Usuarios Asociados:</h5>
          <!--Un estilo para evitar que los botones de eliminar usuario se coman los unos a los otros.-->
          <style>
            .user-item{
              margin-bottom: 5px;
            }
          </style>
          <div class="form-group">
            <% if (task.usuario && task.usuario.length > 0) { %>
            <ul>
              <% task.usuario.forEach(function(user) { %>
                <!--Estilos aplicados al ListItem para que se vea mejor-->
                <li class="d-flex justify-content-between user-item">
                  <span><%= user.email %></span>
                  <span><button href="/tasks/<%= task._id %>/removeUser" class="btn btn-danger" type="button">Eliminar</button></span>
                </li>
              <% }); %>
            </ul>
            <% } else { %>
            <p>No hay usuarios asociados a esta tarea.</p>
            <% } %>
          </div>
          <!-- Botones adicionales -->
          <hr />
          <div class="form-group">
            <button class="btn btn-success" type="button">Boton 1</button>
            <button class="btn btn-warning" type="button">Boton 2</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5>Asociar usuarios a esta tarea:</h5>
              <form action="/tasks/<%= task._id %>/addUser" method="post">
                <select name="userId">
                  <% users.forEach(function(user) { %>
                    <option value="<%= user._id %>"><%= user.email %></option>
                  <% }); %>
                </select>
                <button class="btn btn-success" type="submit">Asociar usuario</button>
              </form>
            </div>  
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>  
<% include partials/_footer %>
