<!--Muestra las tareas del usuario que está logged in-->
<% include partials/_header %>
<div class="container">
  <div class="row justify-content-left mt-4">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Item</th>
            <th>Asignatura</th>
            <!-- Se eliminan los elementos de detalles de esta pantalla.-->
            <!--<th>Plan de Estudios</th>
            <th>Cuatrimestre</th>
            <th>Curso</th>
            <th>Operaciones</th>-->
            <th>Opciones de usuario</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><strong><%= tasks[i].nombre %></strong></td>
              <!-- Se eliminan los elementos de detalles de esta pantalla.-->
              <!--<td><%= tasks[i].planEstudios %></td>
              <td><%= tasks[i].cuatrimestre %></td>
              <td><%= tasks[i].curso %></td>-->
              <td>
                <!-- Se eliminan los botones de modificación-->
                <!--<a href="/tasks/delete/<%= tasks[i]._id %>" class="btn btn-danger">Eliminar</a>
                <a href="/tasks/edit/<%= tasks[i]._id %>" class="btn btn-info">Editar</a>-->
                <!-- Introducido un botoón para acceder a los detalles de la asignatura-->
                <a href="/tasks/update_task/<%= tasks[i]._id %>" class="btn btn-primary btn-block">Acceder</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include partials/_footer %>